#calculator {
  margin: 10% 30%;
}

#calculator-display {
  display: grid;
  grid-template-rows: 50px;
}

#calculator-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 40px 40px 40px 40px;
  justify-content: center;
}

#zero {
  grid-column: 1/3;
}

/* GLOBAL */
.orange {
  background-color: orange;
}
